<div class="section container my-3" *ngIf="data">
  <div class="row row justify-content-md-center">
    <div class="col-md-7 p-4">
      <h2 class="text-center mb-5">{{data[0].campania}}</h2>

      <p *ngIf="isCollapsed">{{data[0].textoAviso | slice:0:data[0].minimoCaracteres}}</p>

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <p>{{data[0].textoAviso }}</p>
      </div>

      <p>
        <button type="button" class="btn btn-link px-0 primary" (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          {{ isCollapsed ? 'Ver más' : 'Ver menos'}}
        </button>
      </p>
    </div>
    <div class="col-md-7 text-center" *ngIf="data[0].mostrarChekAviso === 1">
      <div class="content bg-light mb-5">
        <label class="toggle" for="uniqueID">
          <input type="checkbox" (change)="cambioCheck($event)" class="toggle__input" [checked]="checked" id="uniqueID" />
          <span class="toggle-track">
            <span class="toggle-indicator">
              <!-- 	This check mark is optional	 -->
              <span class="checkMark">
                <svg viewBox="0 0 24 24" id="ghq-svg-check" role="presentation" aria-hidden="true">
                  <path
                    d="M9.86 18a1 1 0 01-.73-.32l-4.86-5.17a1.001 1.001 0 011.46-1.37l4.12 4.39 8.41-9.2a1 1 0 111.48 1.34l-9.14 10a1 1 0 01-.73.33h-.01z">
                  </path>
                </svg>
              </span>
            </span>
          </span>
          Enviarme avisos
        </label>
      </div>
    </div>
  </div>
</div>