<ng-container *ngIf="data[0]">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h2 class="text-center mb-5">CAMPAÑAS</h2>
            <h4 class="wt">Estas opciones por su seguridad no las puede modificar</h4>
        </div>
        <div class="col-md-10">
            <ng-container *ngFor="let check of data[0].areas">
                <ng-container *ngIf="check.mostrarChekAviso == 0">
                    <div class="content bg-light mb-3">
                        <div class="row checkbox-content">
                            <div class="col-lg-4 checkbox-content-innner">
                                <h5 class="text-left">
                                    <strong>{{check.area}}</strong>
                                </h5>
                            </div>
                            <div class="col-lg-8 checkbox-content-innner">
                                <label *ngFor="let camp of check.campanias; let i = index" class="toggle"
                                    for="{{camp.campania}}">
                                    <input type="checkbox" disabled class="toggle__input" id="{{camp.campania}}"
                                        [checked]="camp.recibirAviso" />
                                    <span class="toggle-track">
                                        <span class="toggle-indicator">
                                            <span class="checkMark">
                                                <svg viewBox="0 0 24 24" id="ghq-svg-check" role="presentation"
                                                    aria-hidden="true">
                                                    <path
                                                        d="M9.86 18a1 1 0 01-.73-.32l-4.86-5.17a1.001 1.001 0 011.46-1.37l4.12 4.39 8.41-9.2a1 1 0 111.48 1.34l-9.14 10a1 1 0 01-.73.33h-.01z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                    {{camp.campania}}
                                </label>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <div class="col-md-10">
            <h4 class="wt">Por favor seleccione las opciones en las que no desee recibir notificaciones</h4>
        </div>
        <div class="col-md-10">
            <ng-container *ngFor="let check of data[0].areas">
                <ng-container *ngIf="check.mostrarChekAviso == 1">
                    <div class="content bg-light mb-3">
                        <div class="row checkbox-content">
                            <div class="col-lg-4 checkbox-content-innner">
                                <h5 class="text-left">
                                    <strong>{{check.area}}</strong>
                                </h5>
                            </div>
                            <div class="col-lg-8 checkbox-content-innner">
                                <label *ngFor="let camp of check.campanias; let i = index" class="toggle"
                                    for="{{camp.campania}}">
                                    <input type="checkbox" (change)="cambioCheck(camp, i)" class="toggle__input"
                                        id="{{camp.campania}}" [checked]="camp.recibirAviso" />
                                    <span class="toggle-track">
                                        <span class="toggle-indicator">
                                            <span class="checkMark">
                                                <svg viewBox="0 0 24 24" id="ghq-svg-check" role="presentation"
                                                    aria-hidden="true">
                                                    <path
                                                        d="M9.86 18a1 1 0 01-.73-.32l-4.86-5.17a1.001 1.001 0 011.46-1.37l4.12 4.39 8.41-9.2a1 1 0 111.48 1.34l-9.14 10a1 1 0 01-.73.33h-.01z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                    {{camp.campania}}
                                </label>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>